<header>
  <h1>Welcome to Shine!, <%= current_user.email %></h1>
  <h2>We're using Rails version <%= Rails.version %></h2>
</header>
<section>
  <%= link_to "Enter the customers dashboard", customers_path, method: :get, class: "btn btn-primary btn-lg" %>
</section>
<section>
 <%= link_to "Log Out", destroy_user_session_path, method: :delete %>
</section>

